h1{color:blue;background-color:white;font-style:oblique;}
#f1{background-color:rgb(243, 243, 243);}
#f2{background-color:white;}
img{margin: 0;}
#b{color:white;background-color:black;font-style:oblique;}
a{text-decoration:none;}